- content_for :javascript do
  = javascript_include_tag 'nested_form.js'
= nested_form_for @socio, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @socio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@socio.errors.count, "error")}"
      %ul
        - @socio.errors.full_messages.each do |msg|
          %li= msg

    .form-group
      = f.label :email, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.email_field :email, :autofocus => true, class: 'form-control'  
    .form-group
      = f.label :password, "Contraseña", class: 'col-sm-2 control-label' 
      .col-sm-10
        = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, "Confirmar Contraseña", class: 'col-sm-2 control-label' 
      .col-sm-10
        = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :contenido, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :contenido, class: 'form-control'
  = f.fields_for :fotografias do |fotografia_form|
    .form-group
      = f.label 'Fotografias', class: 'col-sm-2 control-label'
      .col-sm-8
        = fotografia_form.file_field :fotografia, class: 'form-control'
      .col-sm-2
        = fotografia_form.link_to_remove "Eliminar Fotografia", class: 'btn btn-danger'
  .form-group
    = f.link_to_add "Agregar Fotografía", :fotografias, class: 'btn btn-primary'
  .form-group
    = f.label :web, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :web, class: 'form-control'
  .form-group
    = f.label :twitter, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :twitter, class: 'form-control'
  .form-group
    = f.label :facebook, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :facebook, class: 'form-control'
  .form-group
    = f.label :soundcloud, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :soundcloud, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
