:javascript
  audiojs.events.ready(function() {var as = audiojs.createAll();});

#region-socios.container
  .region
    .region-title
      %h1.title
        = page_title!(@socio.nombre)

  .region
    .region-socios-img
      - @socio.fotografias.each do |fotografia|
        = image_tag fotografia.fotografia_url(:medium), class: 'img-responsive'
      .contacto
        %span
          CONTACTO 
          =mail_to 'info@hotmail.com' do 
            =image_tag (image_path('red-mail.png'))
          =link_to '' do
            =image_tag (image_path('facebook-share.png'))
    .region-socios-info
      .arrow
        = image_tag image_path ('red-arrow.png')
      %p.info
        = @socio.contenido
      -#= @socio.web
      -#= @socio.twitter
      -#= @socio.facebook
      -#= @socio.soundcloud
    .clear

    .region-temas
      %h2.titulo
        %span
          TEMAS REPRESENTATIVOS
        DEL INTERPRETE
      .socios-canciones
        %audio{:src => "mp3/audio", :preload => "auto"}
        %audio{:src => "mp3/audio", :preload => "auto"}
        %audio{:src => "mp3/audio", :preload => "auto"}
    .region-evento.region-inicio-eventos
      - if current_socio
        = nested_form_for @socio do |f|
          = f.fields_for :eventos do |evento_form|
            .form-group
              .col-sm-8
                = evento_form.text_field :titulo, placeholder: "Titulo", class: 'form-control'
                = evento_form.text_field :lugar, placeholder: "Lugar", class: 'form-control'
                = evento_form.text_field :link, placeholder: "Link", class: 'form-control'
                = evento_form.date_select :fecha, class: 'form-control'
              .col-sm-2
                = evento_form.link_to_remove "Eliminar evento", class: 'btn btn-danger'
          .form-group
            = f.link_to_add "Agregar Evento", :eventos, class: 'btn btn-primary'
          = f.submit "Guardar", class: 'btn btn-default'
      - @socio.eventos.each do |evento|
        %h2.titulo
          PR&Oacute;XIMOS
          %span
            EVENTOS
        .evento
          .fecha
            %span
              = evento.fecha.day
            %br
              = evento.fecha.strftime("%B")
          .descripcion
            .titulo
              %p
                = evento.titulo.truncate(50)
            .lugar
              %p
                = evento.lugar
    .clear
      
    .region-list
      %h2.titulo
        LISTA DE OBRAS
      .table-responsive
        %table.table.table-striped
          %tr
            %td.title.name
              Tìtulo
            %td.title
              A&ntilde;o
            %td.title
              Duraci&oacute;n
            %td.title
              Formato
          %tr
            %td.name
              Mi marimba
            %td
              1997
            %td
              3:20
            %td
              Quinteto

          %tr
            %td.name
              Mi marimba
            %td
              1997
            %td
              3:20
            %td
              Quinteto
  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_socio_path(@socio), class: 'btn btn-success'
    = link_to 'Regresar', socios_path, class: 'btn btn-warning'
