= form_for @tema, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @tema.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tema.errors.count, "error")}"
      %ul
        - @tema.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :titulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :titulo, class: 'form-control'
  .form-group
    = f.label :ano, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :ano, class: 'form-control'
  .form-group
    = f.label :duracion, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :duracion, class: 'form-control'
  .form-group
    = f.label :formato, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :formato, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
