#region-temas.container

  .region
    .region-title
      %h1= page_title!('temas')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Tema', new_tema_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Titulo
            %th Autor
            %th
            %th

          - @temas.each do |tema|
            %tr
              %td= tema.titulo
              %td= tema.autor
              - if current_admin
                %td= link_to 'Editar', edit_tema_path(tema), class: 'btn btn-success'
                %td= link_to 'Eliminar', tema, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
