#region-audios.container
  .region
    .region-title
      %h1= page_title!('audio')

  .region
    %p
      %b Titulo:
      = @audio.titulo
    %p
      %b Audio:
      = @audio.audio

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_audio_path(@audio), class: 'btn btn-success'
    = link_to 'Regresar', audios_path, class: 'btn btn-warning'
