#region-temas_no_registrados.container

  .region
    .region-title
      %h1= page_title!('temas_no_registrados')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Tema no registrado', new_tema_no_registrado_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Titulo
            %th Autor
            %th
            %th
            %th

          - @temas_no_registrados.each do |tema_no_registrado|
            %tr
              %td= tema_no_registrado.titulo
              %td= tema_no_registrado.autor
              %td= link_to 'Ver', tema_no_registrado, class: 'btn btn-info'
              - if current_admin
                %td= link_to 'Editar', edit_tema_no_registrado_path(tema_no_registrado), class: 'btn btn-success'
                %td= link_to 'Eliminar', tema_no_registrado, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
