#region-slides.container

  .region
    .region-title
      %h1= page_title!('Registrarse')
  .region
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, :autofocus => true, class: 'form-control'  
      .form-group
        = f.label :password, "Contraseña", class: 'col-sm-2 control-label' 
        .col-sm-10
          = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, "Confirmar Contraseña", class: 'col-sm-2 control-label' 
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'
          = f.submit "Guardar", class: 'btn btn-default'
  .region
    .admin-controls
      = render "admins/shared/links"
