= form_for @contacto, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")}"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg

  .form-group-1
    .form-group
      = f.label :nombre, class: 'control-label'
      = f.text_field :nombre, class: 'form-control', placeholder: 'Nombre completo'
    .form-group
      = f.label :email, class: 'control-label'
      = f.text_field :email, class: 'form-control', placeholder: 'Ingresa tu e-mail'
    .form-group
      = f.label :telefono, class: 'control-label'
      = f.text_field :telefono, class: 'form-control', placeholder: 'Celular, fijo o ambos'
  .form-group-2
    .form-group
      = f.label :mensaje, class: 'control-label'
      = f.text_area :mensaje, class: 'form-control', rows: '9', placeholder: 'Déjanos tu mensaje'
    .actions
      = f.submit 'ENVIAR', class: 'btn btn-default'
