#region-directivos
  .region
    .director
      .sub.white
        = image_tag directivo.foto_url(:circle), class: 'img-circle'
        .nombre= directivo.nombre
        .cargo= directivo.cargo
      - if current_admin
        = link_to 'Editar', edit_directivo_path(directivo), class: 'btn btn-success'
        = link_to 'Eliminar', directivo, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
  -#.region
    %p
      %b Nombre:
      = directivo.nombre
    %p
      %b Cargo:
      = directivo.cargo
    %p
      %b Foto:
      = image_tag directivo.foto_url(:circle)

  -#.region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_directivo_path(directivo), class: 'btn btn-success'
