#region-directivos.container

  .region
    .region-title
      %h1= page_title!('directivos')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Directivo', new_directivo_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Cargo
            %th Foto
            %th
            %th

          - @directivos.each do |directivo|
            %tr
              %td= directivo.nombre
              %td= directivo.cargo
              %td= image_tag directivo.foto_url(:thumb)
              - if current_admin
                %td= link_to 'Editar', edit_directivo_path(directivo), class: 'btn btn-success'
                %td= link_to 'Eliminar', directivo, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
