- content_for :javascript do
  = javascript_include_tag 'nested_form.js'
= nested_form_for @noticia, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @noticia.errors.any?
    #error_explanation
      %h2= "#{pluralize(@noticia.errors.count, "error")}"
      %ul
        - @noticia.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :titulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :titulo, class: 'form-control'
  .form-group
    = f.label :fecha, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :fecha, class: 'form-control'
  = f.fields_for :imagenes do |imagen_form|
    .form-group
      = f.label 'Imagen', class: 'col-sm-2 control-label'
      .col-sm-8
        = imagen_form.file_field :imagen, class: 'form-control'
      .col-sm-2
        = imagen_form.link_to_remove "Eliminar Imagen", class: 'btn btn-danger'
  .form-group
    = f.link_to_add "Agregar Imagen", :imagenes, class: 'btn btn-primary'
  .form-group
    = f.label :contenido, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :contenido, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
