#region-noticias.container

  .region
    .region-title
      %h1= page_title!('noticias')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Noticia', new_noticia_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Titulo
            %th Fecha
            %th Imagen
            %th Contenido
            %th
            %th
            %th

          - @noticias.each do |noticia|
            %tr
              %td= noticia.titulo
              %td= noticia.fecha
              %td= image_tag noticia.imagenes.first.imagen_url(:thumb) if noticia.imagenes.first
              %td= noticia.contenido
              %td= link_to 'Ver', noticia, class: 'btn btn-info'
              - if current_admin
                %td= link_to 'Editar', edit_noticia_path(noticia), class: 'btn btn-success'
                %td= link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
