#region-noticias.container

  .region
    .region-title
      %h1.title
        = page_title!('noticias')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Noticia', new_noticia_path, class: 'btn btn-primary'


    - @noticias.each do |noticia|
      .region-noticias
        = link_to noticia do 
          = image_tag noticia.imagenes.first.imagen_url(:thumb), class: 'img-responsive' if noticia.imagenes.first
          = image_tag image_path('white-triangle-up.png'), class: 'triangulo'
          .region-noticias-info
            %h5= noticia.titulo
            = image_tag image_path('circle-arrow.png')
        -#= noticia.fecha
        -#= noticia.contenido
        - if current_admin
          = link_to 'Editar', edit_noticia_path(noticia), class: 'btn btn-success'
          = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
