#region-noticias.container
  .region
    .region-title
      %h1= page_title!('noticia')

  .region
    %p
      %b Titulo:
      = @noticia.titulo
    %p
      %b Fecha:
      = @noticia.fecha
    %p
      %b Imagen:
      = image_tag @noticia.imagen_url(:full)
    %p
      %b Contenido:
      = @noticia.contenido

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_noticia_path(@noticia), class: 'btn btn-success'
    = link_to 'Regresar', noticias_path, class: 'btn btn-warning'
