- content_for :javascript do
  = javascript_include_tag 'asociados.js'

#region-Inicio
  .container-slider
    = render 'bootstrap3_carousel'
  .container
    .region-inicio-info
      %h1
        &iquest; Que &Eacute;s
        %span
          Soniem
        ?
      .quienes-somos
        %p.arrow
          = image_tag image_path('red-arrow.png'), class: 'img-responsive'
        %p.info
          "La Sociedad Nacional de Intérpretes y Ejecutantes de la Música - SONIEM es una sociedad de gestión colectiva debidamente autorizada
          por la dirección de derecho de autor de INDECOPI, mediante la resolución N 0054-2011/DDA-INDECOPI, de fecha 22 de julio de 2011, publicada
          en el diario EL PERUANO, el 19 de agosto de 2011, para la gestión colecctiva de los derechos conexos de los artistas intérpretes o ejecutantes
          del ámbito musical. SONIEM es miembro de la Federación Ibero latinoamericana de Artistas Intérpretes y Ejecutantes - FILAIE, presidida por AIE de España
          y reúne a las Sociedades de Gestión colectiva de Latinoamérica, España y Portugal".
    .region-inicio-info
      %h1
        &Uacute;ltimas
        %span
          Noticias
      .noticias
        .info-noticias.noticias-left
          %h5
            = @noticia.first.titulo if @noticia.first
          %p
            = @noticia.first.contenido.truncate(150) if @noticia.first
          = link_to(@noticia.first) do
            .leer-mas
              %span
                leer m&aacute;s
              = image_tag image_path('circle-arrow.png')
        .info-noticias.noticias-right
          = image_tag image_path('white-triangle.png'), class: 'triangulo'
          = image_tag @noticia.first.imagenes.first.imagen_url(:thumb), class:'img-responsive' if @noticia.first.imagenes.any?

  .container-banner
    .container
      %h1
        Nuestros
        %span
          asociados
    %ul#scroller
      - @socios1.each do |socio|
        %li.asociado-slide
          = image_tag socio.fotografias.first.fotografia_url(:thumb), class: 'img-responsive'
    %ul#scroller-down
      - @socios2.each do |socio|
        %li.asociado-slide
          = image_tag socio.fotografias.first.fotografia_url(:thumb), class: 'img-responsive'
  .container
    .region-inicio-social
      %h1
        S&iacute;guenos en
        %span
          facebook
      .region-facebook
        == <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fsoniem%2F128766450475056&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
    .region-inicio-eventos
      %h1
        pr&oacute;ximos
        %span
          eventos
      - @eventos.each do |evento|
        = link_to evento do
          .evento
            .fecha
              %span
                = evento.fecha.day
              %br
                = evento.fecha.strftime("%B")
            .descripcion
              .titulo
                %p
                  = evento.titulo.truncate(50)
              .lugar
                %p
                  = evento.lugar
  .container-slider.slider-footer
    = render 'bootstrap3_carousel_2'
  .container-footer
