- content_for :javascript do
  = javascript_include_tag 'asociados.js'

#region-Inicio
  .container-slider
    = render 'bootstrap3_carousel'
  .container
    .region-inicio-info
      %h1
        &iquest; Que &Eacute;s
        %span
          Soniem
        ?
      .quienes-somos
        %p.arrow
          = image_tag image_path('red-arrow.png'), class: 'img-responsive'
        %p.info
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

          A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.

          Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas.
    .region-inicio-info
      %h1
        &Uacute;ltimas
        %span
          Noticias
      .noticias
        .info-noticias.noticias-left
          %h5
            = @noticia.first.titulo if @noticia.first
          %p
            = @noticia.first.contenido.truncate(150) if @noticia.first
          = link_to(@noticia.first) do
            .leer-mas
              %span
                leer m&aacute;s
              = image_tag image_path('circle-arrow.png')
        .info-noticias.noticias-right
          = image_tag image_path('white-triangle.png'), class: 'triangulo'
          = image_tag @noticia.first.imagenes.first.imagen_url(:thumb), class:'img-responsive' if @noticia.first.imagenes.any?

  .container-banner
    .container
      %h1
        Nuestros
        %span
          asociados
<<<<<<< HEAD
    %ul#scroller
      - @socios1.each do |socio|
        %li.asociado-slide
          = image_tag socio.fotografias.first.fotografia_url(:thumb), class: 'img-responsive'
    %ul#scroller2
      - @socios2.each do |socio|
        %li.asociado-slide
          = image_tag socio.fotografias.first.fotografia_url(:thumb), class: 'img-responsive'
=======
    #scroller
      .asociado-slide= image_tag(image_path('facebook.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('twitter.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('mail.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('soniem-logo.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('pointer.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('circle-arrow.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('clip.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('red-arrow.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('red-mail.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('noticias-img.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('flecha-arriba.jpg'), class: 'img-responsive')
    #scroller-down
      .asociado-slide= image_tag(image_path('facebook.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('twitter.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('mail.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('soniem-logo.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('pointer.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('circle-arrow.png'), class: 'img-responsive')
<<<<<<< HEAD
      .asociado-slide= image_tag(image_path('clip.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('red-arrow.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('red-mail.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('noticias-img.png'), class: 'img-responsive')
      .asociado-slide= image_tag(image_path('flecha-arriba.jpg'), class: 'img-responsive')
=======
    -#%ul#scroller2
      %li.asociado-slide
        = image_tag image_path('soniem-logo.png'), class: 'img-responsive'
      %li.asociado-slide
        = image_tag image_path('soniem-logo.png'), class: 'img-responsive'
      %li.asociado-slide
        = image_tag image_path('soniem-logo.png'), class: 'img-responsive'
      %li.asociado-slide
        = image_tag image_path('soniem-logo.png'), class: 'img-responsive'
>>>>>>> 7b4e99ccb26dac89e2c981386dd90eaa84f02913
>>>>>>> 226ba80ccd7de086625a7de14f9b4aab8fa0614d
  .container
    .region-inicio-social
      %h1
        S&iacute;guenos en
        %span
          facebook
      .region-facebook
        == <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fsoniem%2F128766450475056&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
    .region-inicio-eventos
      %h1
        pr&oacute;ximos
        %span
          eventos
      - @eventos.each do |evento|
        = link_to evento do
          .evento
            .fecha
              %span
                = evento.fecha.day
              %br
                = evento.fecha.strftime("%B")
            .descripcion
              .titulo
                %p
                  = evento.titulo.truncate(50)
              .lugar
                %p
                  = evento.lugar
  .container-slider.slider-footer
    = render 'bootstrap3_carousel_2'
  .container-footer
