= form_for [@socio, @evento], :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @evento.errors.any?
    #error_explanation
      %h2= "#{pluralize(@evento.errors.count, "error")}"
      %ul
        - @evento.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :titulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :titulo, class: 'form-control'
  .form-group
    = f.label :lugar, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :lugar, class: 'form-control'
  .form-group
    = f.label :fecha, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :fecha, class: 'form-control'
  .form-group
    = f.label :link, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :link, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
