#region-eventos.container
  .region
    .region-title
      %h1.title= page_title!('evento')

  .wrapper
    %p
      %b Titulo:
      = @evento.titulo
    %p
      %b Lugar:
      = @evento.lugar
    %p
      %b Fecha:
      = @evento.fecha
    %p
      %b Link:
      = @evento.link

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_evento_path(@evento), class: 'btn btn-success'
    = link_to 'Regresar', eventos_path, class: 'btn btn-warning'
