#region-slides.container

  .region
    .region-title
      %h1= page_title!('Registrarse')
  .region
    = nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, :autofocus => true, class: 'form-control'
      .form-group
        = f.label :password, "Contraseña", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, "Confirmar Contraseña", class: 'col-sm-2 control-label' 
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.label :nombre, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :nombre, class: 'form-control'
      .form-group
        = f.label :contenido, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area :contenido, class: 'form-control'
      = f.fields_for :fotografias do |fotografia_form|
        .form-group
          = f.label 'Fotografias', class: 'col-sm-2 control-label'
          .col-sm-8
            = fotografia_form.file_field :fotografia, class: 'form-control'
          .col-sm-2
            = fotografia_form.link_to_remove "Eliminar Fotografia", class: 'btn btn-danger'
      .form-group
        = f.link_to_add "Agregar Fotografía", :fotografias, class: 'btn btn-primary'
      .form-group
        = f.label 'Temas', class: 'col-sm-2 control-label'
      = f.fields_for :temas do |tema_form|
        .form-group
          .col-sm-9
            = tema_form.text_field :titulo, placeholder: "Titulo", class: 'form-control'
            = tema_form.text_field :autor, placeholder: "Autor", class: 'form-control'
          .col-sm-2
            = tema_form.link_to_remove "Eliminar Tema", class: 'btn btn-danger'
      .form-group
        = f.link_to_add "Agregar Tema", :temas, class: 'btn btn-primary'
      .form-group
        = f.label 'Audios', class: 'col-sm-2 control-label'
      = f.fields_for :audios do |audio_form|
        .col-sm-9
          = audio_form.text_field :titulo, placeholder: "Titulo", class: 'form-control'
          = audio_form.file_field :audio, placeholder: "Audio", class: 'form-control'
        .col-sm-2
          = audio_form.link_to_remove "Eliminar Audios", class: 'btn btn-danger'
      .form-group
        = f.link_to_add "Agregar Audios", :audios, class: 'btn btn-primary'
      .form-group
        = f.label 'Eventos', class: 'col-sm-2 control-label'
      = f.fields_for :eventos do |evento_form|
        .form-group
          .col-sm-9
            = evento_form.text_field :titulo, placeholder: "Titulo", class: 'form-control'
            = evento_form.text_field :lugar, placeholder: "Lugar", class: 'form-control'
            = evento_form.text_field :link, placeholder: "Link", class: 'form-control'
            = evento_form.date_select :fecha, class: 'form-control'
          .col-sm-2
            = evento_form.link_to_remove "Eliminar evento", class: 'btn btn-danger'
      .form-group
        = f.link_to_add "Agregar Evento", :eventos, class: 'btn btn-primary'
      .form-group
        = f.label :web, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :web, class: 'form-control'
      .form-group
        = f.label :twitter, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :twitter, class: 'form-control'
      .form-group
        = f.label :facebook, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :facebook, class: 'form-control'
      .form-group
        = f.label :soundcloud, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :soundcloud, class: 'form-control'
      = f.submit "Guardar", class: 'btn btn-default'
  .region
    .admin-controls
      = render "socios/shared/links"
