- content_for :javascript do
  = google_maps_api
  = javascript_include_tag 'ubicaciones.js'

#region-ubicaciones

  .region-ubicacion
    .region-title.container
      %h1.title
        = page_title!('ubicación')

    .region-ubicacion-info
      - @ubicaciones.each do |ubicacion|
        -#= ubicacion.lat
        -#= ubicacion.lng
        = image_tag image_path('pointer.png')
        %h3
          = ubicacion.direccion
        - if current_admin
          = link_to 'Editar', edit_ubicacion_path(ubicacion), class: 'btn btn-success'
  .clear
  .map-wrapper
    = render 'mapa'
