#region-comunicados.container

  .region
    .region-title
      %h1.title
        = page_title!('comunicados')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Comunicado', new_comunicado_path, class: 'btn btn-primary'

      - @comunicados.each do |comunicado|
        .region-comunicados
          - if comunicado.pdf.present?
            = link_to comunicado.pdf_url, download: comunicado.pdf.filename do
              .white
                = comunicado.titulo
                %br
                = comunicado.contenido
                -#%br  
                -#= comunicado.fecha
                .leer-mas
                  %span
                    leer m&aacute;s
                  =image_tag image_path('circle-arrow.png') 
          - if current_admin
            .buttons
              =  link_to 'Editar', edit_comunicado_path(comunicado), class: 'btn btn-success'
              =  link_to 'Eliminar', comunicado, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
