#region-comunicados.container

  .region
    .region-title
      %h1.title
        = page_title!('comunicados')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Comunicado', new_comunicado_path, class: 'btn btn-primary'

      - @comunicados.each do |comunicado|
        .region-comunicados
          = link_to comunicado do
            .white
              = comunicado.titulo
              = comunicado.contenido
              -#%br  
              -#= comunicado.fecha
              %br
              %br
              .leer-mas
                %span
                  leer m&aacute;s
                =image_tag image_path('circle-arrow.png') 
              
              - if current_admin
                = link_to 'Editar', edit_comunicado_path(comunicado), class: 'btn btn-success'
                =  link_to 'Eliminar', comunicado, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
