#region-preguntas.container
  .region
    .region-title
      %h1= page_title!('pregunta')

  .region
    %p
      %b Pregunta:
      = @pregunta.pregunta
    %p
      %b Respuesta:
      = @pregunta.respuesta

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_pregunta_path(@pregunta), class: 'btn btn-success'
    = link_to 'Regresar', preguntas_path, class: 'btn btn-warning'
