= form_for @formato, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @formato.errors.any?
    #error_explanation
      %h2= "#{pluralize(@formato.errors.count, "error")}"
      %ul
        - @formato.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :pdf, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :pdf, class: 'form-control'
  .form-group
    = f.label :titulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :titulo, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
