#region-testimonios.container
  .region
    .region-title
      %h1= page_title!('testimonio')

  .region
    %p
      %b Nombre:
      = @testimonio.nombre
    %p
      %b Mensaje:
      = @testimonio.mensaje

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_testimonio_path(@testimonio), class: 'btn btn-success'
    = link_to 'Regresar', testimonios_path, class: 'btn btn-warning'
