- content_for :javascript do
  = javascript_include_tag 'socios.js'

#region-header-information
  .container
    .telefono
      TEL.: 637.8272 | 637.8273
    .mail
      =mail_to '#' do
        =image_tag image_path('mail.png')
    .facebook
      =link_to 'www.facebook.com' do
        =image_tag image_path('facebook.png')
    .twitter
      =link_to 'www.facebook.com' do
        =image_tag image_path('twitter.png')
    .socios
      %button.boton
        Socios
    .socios-login
      .form-group
        = form_tag resultado_de_busqueda_path, :method => 'get', html: { class: 'form-horizontal'} do
          .form-group
            .col-sm-8
              = text_field_tag :busqueda, params[:busqueda], :id => 'nombre_de_producto', class: 'form-control'
            .col-sm-2
              = submit_tag 'buscar', :name => nil, class: 'btn btn-default'
      - if current_admin
        = link_to 'Registrar Socio', new_socio_registration_path, class: 'link'
        = link_to 'Lista de Socios', socios_path, class: 'link'
      - else
        = link_to 'Lista de socios', socios_path, class: 'link'
        = link_to 'Temas NO registrados', temas_no_registrados_path, class: 'link'
        = link_to 'Ingresar', new_socio_session_path, class: 'link'
        = link_to 'Registrarse', new_socio_registration_path, class: 'link'
        - if current_socio
          = link_to 'Cerrar Sesión', destroy_socio_session_path, method: :delete
          = link_to 'Lista de Socios', socios_path, class: 'link'
        - else





