#navigation
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag(image_path('soniem-logo.png')), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if current_admin
          %li= link_to 'Inicio', root_path, class: 'active'
          %li= link_to 'Slides', slides_path
          %li= link_to 'Quienes Somos', informaciones_path
          %li= link_to 'Afiliación', afiliacion_index_path
          %li= link_to 'Noticias', noticias_path
          %li= link_to 'Comunicados', comunicados_path
          %li= link_to 'Mensajes', contactos_path
          %li= link_to 'Ubicacion', ubicaciones_path
          %li= link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete
        - else
          %li= link_to 'Inicio', root_path, class: 'active'
          %li= link_to 'Quiénes Somos', informaciones_path
          %li.dropdown
            %a{:href => "#", :class=> "dropdown-toggle", :data => {:toggle => "dropdown"}} Afiliación
            .dropdown-menu
              %ul.dropdown-list
                %li
                  = link_to 'Requisitos', afiliacion_index_path
                %li
                  = link_to 'Formatos', formatos_path
                %li
                  = link_to 'Preguntas', preguntas_path

          %li= link_to 'Noticias', noticias_path
          %li= link_to 'Comunicados', comunicados_path
          %li= link_to 'Contacto', new_contacto_path
          %li= link_to 'Ubicación', ubicaciones_path



