.container
  .navbar-header
    = link_to "Reemplazar por el nombre del nuevo proyecto", root_path, class: 'navbar-brand'
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      - if current_admin
        %li= link_to 'Inicio', root_path, class: 'active'
        %li= link_to 'Slides', slides_path
        %li= link_to 'Quienes Somos', quienes_somos_que_es_soniem_path
        %li= link_to 'Noticias', noticias_path
        %li= link_to 'Comunicados', comunicados_path
        %li= link_to 'Mensajes', contactos_path
        %li= link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete
      - else
        %li= link_to 'Inicio', root_path, class: 'active'
        %li= link_to 'Quienes Somos', quienes_somos_que_es_soniem_path
        %li= link_to 'Noticias', noticias_path
        %li= link_to 'Comunicados', comunicados_path
        %li= link_to 'Contacto', new_contacto_path



