#region-informaciones.container
  .region
    .region-title
      %h1= page_title!('informacion')

  .region
    %p
      %b Titulo:
      = @informacion.titulo
    %p
      %b Foto:
      = @informacion.foto
    %p
      %b Descripcion:
      = @informacion.descripcion

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_informacion_path(@informacion), class: 'btn btn-success'
    = link_to 'Regresar', informaciones_path, class: 'btn btn-warning'
